html, body {
    padding: 0;
    margin: 0;
}

#header {
    padding: 10px;
    background: #373738;
}

#header h1 a {
    color: white;
    text-decoration: none;
    font-family: stratum-1-web, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#header h1 svg {
    height: 50px;
    width: 80px;
}

#content {
    padding: 10px;
}

table.data {
    margin: 20px 0;
    padding: 0;
}

table.data tr {
    margin: 0;
    padding: 0;
}

table.data th {
    border: 1px solid black;
    margin: 0;
    padding: 5px;
}

table.data td {
    border: 1px solid black;
    margin: 0;
    padding: 5px;
}

ul.breadcrumbs {
    padding: 0;
    margin: 10px 0;
}

ul.breadcrumbs li {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0 5px;
    font-style: italic;
    font-size: 80%;
}

ul.breadcrumbs li::before {
    content: '>>';
    font-style: italic;
    font-size: 80%;
    padding: 0 5px 0 0;
}

