{% extends "base.html" %}

{% block content %}

   <h2>Standard Version {{  version }}</h2>

   <ul>
      {% for id in extension_ids %}
         {% if extensions[id]['extension_for_standard_versions'][version]['available'] %}
            <li>
               <a href="/en/{{ id }}.html">{{ extensions[id]['extension_data']['name']['en'] }}</a>
               {% if extensions[id]['core'] %}<span>(core)</span>{% endif %}
            </li>
         {% endif %}
      {% endfor %}
   </ul>

{% endblock %}
