{% extends "base.html" %}


{% block breadcrumbs %}
    <ul class="breadcrumbs">
        <li><a href="/en/">Welcome</a></li>
        <li>Standard version {{ version }}</li>
    </ul>
{% endblock %}

{% block content %}

   <h2>Standard Version {{  version }}</h2>

   <h2>Core Extensions</h2>

    <ul>
        {% for id in version_core_extension_ids %}
            <li>
                <a href="/en/{{ id }}.html">{{ extensions[id]['extension_data']['name']['en'] }}</a>
                <div>{{ extensions[id].get_description() }}</div>
            </li>
        {% else %}
            <li>There are no core extensions for this version.</li>
        {% endfor %}
    </ul>

    <h2>Community Extensions</h2>

    <ul>
        {% for id in version_community_extension_ids %}
            <li>
                <a href="/en/{{ id }}.html">{{ extensions[id]['extension_data']['name']['en'] }}</a>
                <div>{{ extensions[id].get_description() }}</div>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
