{% extends "base.html" %}

{% block content %}
    <h2>{{ data['extension_data']['name']['en'] }}</h2>

    <table>
        <tr>
            <th>GitHub URL</th>
            <td><a href="{{ data['github_url'] }}">{{ data['github_url'] }}</a></td>
        </tr>
        <tr>
            <th>Core</th>
            <td>{% if data['core'] %}Yes{% else %}No{% endif %}</td>
        </tr>
    </table>

    {% for standard_version in standard_versions %}
        <h3>Standard Version {{ standard_version }}</h3>
        {% if data['standard_versions'][standard_version]['available'] %}
            <div>
                Available
            </div>
        {% else %}
            <div>
                Not Available
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}

