{% extends "base.html" %}

{% block content %}
    <ul>
        {% for standard_version in standard_versions %}
            <li>
                <a href="standard-v{{ standard_version }}/">{{ standard_version }}</a>
            </li>
        {% endfor %}
    </ul>


    <ul>
        {% for id in extension_ids %}
            <li>
                <a href="{{ id }}.html">{{ extensions[id]['extension_data']['name']['en'] }}</a>
                {% if extensions[id]['core'] %}<span>(core)</span>{% endif %}
            </li>
        {% endfor %}
    </ul>

    <div><a href="table.html">View As Table</a></div>
{% endblock %}

