{% extends "base.html" %}

{% block content %}

    <h2>Core Extensions</h2>

    <ul>
        {% for id in core_extension_ids %}
            <li>
                <a href="/en/{{ id }}.html">{{ extensions[id]['extension_data']['name']['en'] }}</a>
                <div>{{ extensions[id].get_description() }}</div>
            </li>
        {% endfor %}
    </ul>

    <h2>Community Extensions</h2>

    <ul>
        {% for id in community_extension_ids %}
            <li>
                <a href="/en/{{ id }}.html">{{ extensions[id]['extension_data']['name']['en'] }}</a>
                <div>{{ extensions[id].get_description() }}</div>
            </li>
        {% endfor %}
    </ul>

    <div><a href="table.html">View As Table</a></div>

    <h2>Browse by Standard version</h2>

    <ul>
        {% for standard_version in standard_versions %}
            <li>
                <a href="/en/standard-v{{ standard_version }}/">{{ standard_version }}</a>
            </li>
        {% endfor %}
    </ul>


{% endblock %}

